.ImgCarousel{
    filter: brightness(40%);
}

.txt{
    font-weight: 600; 
    
}
.txt span{
    color: green;
}
.heroo{
    z-index: 10000;
}

.card-img-top{
    width: 100%;
}

.gambar-product{
    widht:100%; 
    height: 200px;
    overflow:hidden;
}
.gambar-product img{
    width: 100%;
}

.card-product{
    width: 18rem;
}

.name-footer{
    background-color: rgba(0, 0, 0, 0.05)
}

section div .wrapping .wrap-kartu .kartu .gambar {
    height: 200px;
}

.layanan {
    padding-top: 30px;
}

.bg-color {
    background-color: #F8F8FF;
}

.bg-nav-default {
    background-color: #F8F8FF;
    transition: ease all .8s;
    -webkit-transition: ease all .8s;
    -moz-transition: ease all .8s;
    -o-transition: ease all .8s;
}

.bg-color-nav {
    background-color: #F8F8FF;
    box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.25);
}



@media (max-width: 576px) {
    section div #carouselExampleIndicators .wrap-belanja .belanja {
        font-size: 12px;
        padding: 4px 5px;

    }

    section div #carouselExampleIndicators .pencarian .form-search input {
        font-size: 12px;
        height: 30px;
    }

    section div #carouselExampleIndicators .pencarian .form-search .tombol-search {
        font-size: 12px;
        padding: 3px 5px;
        height: 30px;
    }

    .layanan {
        padding-top: 20px;
    }

    .layanan div .info-center {
        display: flex;
        justify-content: end;
        background-color: #F8F8FF;

    }

    .layanan div .info-center div .card-info h5,
    .p-info {
        text-align: right;
    }



    section .bungkus-atas {
        margin-top: 15px;
    }

    section div .wrapping {
        gap: 3;
    }

    section div .wrapping .wrap-kartu .kartu .gambar {
        height: auto;
    }

    section div .kartu .card-body {
        padding: 2px;
    }

    section div .kartu .card-body .nama-barang {
        font-size: 9px;
        width: 100%;
        margin: 0;
    }

    section div .kartu .card-body .deskripsi {
        font-size: 7px;
        margin: 0;
        padding: 0;
        line-height: 1.3;
    }

    section div .kartu .card-body .harga {
        font-size: 7px;
        margin: 2px;
        padding: 0;

    }

    section div .kartu .card-body .btn-pesan {
        font-size: 7px;
        padding: 2px 5px;
        margin-bottom: 5px;
        border-radius: 3px;
    }

}